@model SGVT.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Shop Category Page</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="category.html">Category</a>
                    <a href="category.html">Women Fashion</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NuNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NuNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NuApaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NuApaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NuAmaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NuAmaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NuCorreo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NuCorreo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IuCelular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IuCelular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NuDireccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NuDireccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NuContraseña)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NuContraseña)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkIdTipoUsuarioNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkIdTipoUsuarioNavigation.PkIdTipoUsuario)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PkDni" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
