@model SGVT.Models.Producto

@{
    ViewData["Title"] = "Details";
}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Shop Category Page</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="category.html">Category</a>
                    <a href="category.html">Women Fashion</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NpNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NpNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NpDescripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NpDescripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoProducto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoProducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkIdProducto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
