@model SGVT.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NpNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NpNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NpDescripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NpDescripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoProducto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoProducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkIdProducto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
