@model IEnumerable<SGVT.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Shop Category Page</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="category.html">Category</a>
                    <a href="category.html">Women Fashion</a>
                </div>
            </div>
        </div>
    </div>
</section>



<p>
    <a class="btn btn-primary" asp-action="Create">Registrar Producto<span class="glyphicon glyphicon-plus"></span>   </a>

</p>
<table class="table table-striped table-bordered table-hover" enctype="multipart/form-data">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NpNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NpDescripcion)
            </th>
            <th>
                Imagen
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoProducto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NpNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NpDescripcion)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Imagen)*@
                    <img class="img-thumbnail" src="@item.Imagen" asp-append-version="true" alt="@item.Imagen" />
                    @*<img class="img-responsive" src="@Url.Content("~/wwwroot/Catalogo/" + @item.Imagen)" alt="@item.Imagen">*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoProducto)
                    @*@Html.DropDownList("MyTestList", null, new { @class = "btn btn-default dropdown-toggle" })*@
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.PkIdProducto">Editar</a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.PkIdProducto">Detalles</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.PkIdProducto">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
